.toolsImg {
    width: 40px;
    height: auto;
  }
  
  button {
    box-sizing: border-box;
    width: 100%;
    display: block;
    justify-content: center;
    margin: 0;
    padding: 20px 0 0;
  }